<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="Arm" type="system">
        <hardware>
            <!-- <plugin>mock_components/GenericSystem</plugin>
            <param name="calculate_dynamics">false</param> -->
            <plugin>arm/ArmHardware</plugin>
        </hardware>

        <joint name="elbow_joint">
            <!-- <command_interface name="position" /> -->
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <param name="encoder_counts_per_rev">8192</param>
            <param name="pid_p">1000</param>
            <param name="pid_d">0</param>
            <param name="pid_i">1</param>
            <param name="max_pwm">250</param>
            <param name="min_pwm">-250</param>
        </joint>
        <joint name="shoulder_joint">
            <!-- <command_interface name="position" /> -->
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <param name="encoder_counts_per_rev">8192</param>
            <param name="pid_p">150</param>
            <param name="pid_d">0</param>
            <param name="pid_i">0.1</param>
            <param name="max_pwm">120</param>
            <param name="min_pwm">-120</param>
        </joint>
        <joint name="turret_joint">
            <!-- <command_interface name="position" /> -->
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <param name="encoder_counts_per_rev">460000</param>
            <param name="pid_p">20</param>
            <param name="pid_d">0</param>
            <param name="pid_i">0.000</param>
            <param name="max_pwm">70.0</param>
            <param name="min_pwm">-70.0</param>
        </joint>
        <joint name="wrist_pitch_joint">
            <!-- <command_interface name="position" /> -->
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <param name="encoder_counts_per_rev">8192</param>
            <param name="pid_p">15</param>
            <param name="pid_d">10</param>
            <param name="pid_i">0.0003</param>
            <param name="max_pwm">30.0</param>
            <param name="min_pwm">-30.0</param>
        </joint>
        <joint name="wrist_roll_joint">
            <!-- <command_interface name="position" /> -->
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <param name="encoder_counts_per_rev">8192</param>
            <param name="pid_p">1.0</param>
            <param name="pid_d">5.0</param>
            <param name="pid_i">0.000</param>
            <param name="max_pwm">40.0</param>
            <param name="min_pwm">-40.0</param>
        </joint>
        <joint name="gripper_joint">
            <!-- <command_interface name="position" /> -->
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <param name="encoder_counts_per_rev">8192</param>
            <param name="pid_p">1.0</param>
            <param name="pid_d">5.0</param>
            <param name="pid_i">0.000</param>
            <param name="max_pwm">50.0</param>
            <param name="min_pwm">-50.0</param>
        </joint>
    </ros2_control>
 
</robot>