<?xml version="1.0" ?>
<robot name="arm" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find arm_description)/urdf/arm_base.xacro" />
<xacro:include filename="$(find arm_description)/urdf/materials.xacro" />
<xacro:include filename="$(find arm_description)/urdf/arm.trans" />
<!-- <xacro:include filename="$(find arm_description)/urdf/arm.gazebo" /> -->
<xacro:include filename="$(find arm_description)/urdf/arm.ros2_control.xacro" />

</robot>
