<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="Arm" type="system">
        <hardware>
            <!-- <plugin>mock_components/GenericSystem</plugin>
            <param name="calculate_dynamics">false</param> -->
            <plugin>arm/ArmHardware</plugin>
            <param name="pid_p">20</param>
            <param name="pid_d">5</param>
            <param name="pid_i">0</param>
            <param name="pid_o">50</param>
        </hardware>
        <joint name="elbow_joint">
            <command_interface name="velocity" />
            <state_interface name="position" />
            <!-- <state_interface name="velocity" /> -->
            <param name="encoder_counts_per_rev">8192</param>
        </joint>
        <joint name="shoulder_joint">
            <command_interface name="velocity" />
            <state_interface name="position" />
            <!-- <state_interface name="velocity" /> -->
            <param name="encoder_counts_per_rev">8192</param>
        </joint>
        <joint name="turret_joint">
            <command_interface name="velocity" />
            <state_interface name="position" />
            <!-- <state_interface name="velocity" /> -->
            <param name="encoder_counts_per_rev">8192</param>
        </joint>
        <joint name="wrist_pitch">
            <command_interface name="velocity" />
            <state_interface name="position" />
            <!-- <state_interface name="velocity" /> -->
            <param name="encoder_counts_per_rev">8192</param>
        </joint>
        <joint name="wrist_roll">
            <command_interface name="velocity" />
            <state_interface name="position" />
            <!-- <state_interface name="velocity" /> -->
            <param name="encoder_counts_per_rev">8192</param>
        </joint>
    </ros2_control>
 
</robot>