<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="Arm" type="system">
        <hardware>
            <plugin>mock_components/GenericSystem</plugin>
            <param name="calculate_dynamics">false</param>
            <!-- <plugin>arm/ArmHardware</plugin> -->
        </hardware>

        <joint name="elbow_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <!-- <state_interface name="velocity" /> -->
        </joint>
        <joint name="shoulder_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <!-- <state_interface name="velocity" /> -->
        </joint>
        <joint name="turret_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <!-- <state_interface name="velocity" /> -->
        </joint>
        <joint name="wrist_pitch">
            <command_interface name="position" />
            <state_interface name="position" />
            <!-- <state_interface name="velocity" /> -->
        </joint>
        <joint name="wrist_roll">
            <command_interface name="position" />
            <state_interface name="position" />
            <!-- <state_interface name="velocity" /> -->
        </joint>
        <joint name="gripper_motor_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <!-- <state_interface name="velocity" /> -->
        </joint>
    </ros2_control>
 
</robot>