<?xml version="1.0" ?>
<robot name="arm" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find arm_description)/urdf/arm.xacro" />
<xacro:include filename="$(find arm_description)/urdf/materials.xacro" />
<xacro:include filename="$(find arm_description)/urdf/arm.trans" />
<xacro:include filename="$(find arm_description)/urdf/arm_gazebo.ros2_control.xacro" />

<link name="world"/>

<joint name="fixed_base" type="fixed">
  <parent link="world"/>
  <child link="base_link"/>
</joint>

</robot>
